name: Metrics

on:
  schedule:
    - cron: "0 6 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ github.token }}
          committer_token: ${{ github.token }}
          user: LaraPompei
          filename: github-metrics.svg
          template: classic
          base: header, activity, community, repositories

          repositories_affiliations: owner
          repositories_forks: no
          repositories: 200

          plugin_languages: yes
          plugin_languages_indepth: yes
          plugin_languages_limit: 8
          plugin_languages_sections: most-used
          plugin_languages_details: bytes-size, percentage
          plugin_languages_analysis_timeout: 90
          plugin_languages_categories: programming
          plugin_languages_other: yes

          config_timezone: America/Sao_Paulo
